/* ************************************
         MOBILE VERSION
  *********************************** */


/* *********** HEADER *********** */

header{
    position: sticky;
    top: 0;
    z-index: 999;
}

nav{
    background-color: #297AFE;
}

header a{
    text-decoration: none;
    color: white;
}

.btn{
    border-radius: 20px;
    border: 0;
}

#navbar{
    display: none
}

#burger-menù i{
    font-size: 2rem;
    color: white;
}

ul#navbar li{
    margin: 0 5px;
}


/* *********** JUMBOTRON ******** */

/* #jumbotron{
    margin-top: 3rem;
} */


.card{
    background-color: aquamarine;
    border-radius: 20px;
    height: 100%;
    margin-top: 2rem;
}

/* #jumbotron h2{
    color: white;
    margin: 1rem 0;
}*/

.flex-column{
    display: flex;
    flex-direction: column;
}

#jumbotron{
    margin-bottom: 4rem;
}

#demo a{
    width: 80%;
    font-size: larger;
}

#demo i{
    margin-right: 1rem;
}

#demo img{
    width: 90%;
}

.card>span{
    margin-top: 2rem;
    color: #297AFE;
    text-align: center;
    font-size: 4rem;
}

.card h2{
    color: #297AFE;
    text-align: center;
    margin-top: 1rem;
}

.card>p{
    text-align: center;
    margin: 1rem 0;;
}


/* ******** STRATEGIC ****** */

#strategic{
    background-color: #9593E6;
    padding: 3rem 0;
}

#strategic img{
    width: 100%;
}

#planning h2,
#planning p{
    margin: 2rem 0;
    color: white;
}

#development{
    background-color: white;
    text-align: center;
}

#development h2,
#development p{
    margin: 1rem 0;
}

#development a{
    background-color: #9593E6;
    border-radius: 100%;
}

#development i{
    font-size: 3rem;
    padding: 1rem;
}


/* *********** TESTIMONIALS ********** */

#testimonials{
    padding: 3rem 0;
}

.test-card{
    background-color: #9593E6;
}

#testimonials-header > h2{
    color: #9593E6;
}

/* .test-card img{
    width: 50%;
    border-radius: 100%;
} */

#testimonials h3,
#testimonials h2,
#testimonials p,
#testimonials .test-card{
    margin: 2rem 0;
    text-align: center;
}

figure.circle-img{
    height: 200px;
    width: 200px;
}

figure.circle-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


/* *********** BENEFITS ************* */

#benefits{
    background-color: #9593E6;
    color: white;
    padding: 3rem 0;
}

#bene-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.bene-card{
    background-color: white;
    color: #9593E6;
} 

.bene-card h2{
    font-size: 10rem;
}

.bene-card p{
    margin: 2rem 0;
}

.violet{
    background-color: #9593E6;
    color: white;
}

a.violet.btn{
    display: inline-block;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

/* ******** ABOUT US ******* */

#about-us{
    margin: 3rem 0;
}

#about-us img{
    width: 80%;
    border-radius: 100%;
    margin: 2rem 0;
}

#about-us h2{
    color: #9593E6;
    font-size: 4rem; 
    margin: 2rem 0;
}

#about-us h4{
    color: #9593E6;
    font-size: 1.5rem;
    margin: 2rem 0;
}

#about-us .image{
    position: relative;
}

#about-us .fa-quote-left{
    position: absolute;
    top: 10%;
    right: 30%;
    font-size: 4rem;
    color: #9593E6;
}

/* ****** GET STARTED ****** */

#get-started{
    background-color: #9593E6;
    color: white;
    text-align: center;
}

#get-started > div{
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

#get-started span,
#get-started h3, 
#get-started h2,
#get-started p,
#get-started .btn{
    margin: 1rem 0;
}

#get-started #privacy{
    text-decoration: underline;
}

#get-started .btn{
    color: #9593E6;
    font-size: 2rem;
}

#get-started h2{
    color: rgb(243, 220, 91);
    font-size: 3rem;
}

/* ******* FOOTER ****** */

footer{
    background-color: black;
    color: white;
}

footer > div{
    width: 80%;
    margin: auto;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

footer a{
    text-decoration: underline;
}




/* ************************************
         TABLET VERSION
  *********************************** */


@media screen and (min-width: 480px) {

    /* ***** HEADER ***** */

    /* ***** JUMBOTRON ***** */

    #demo img{
        width: 70%;
        align-items: baseline;
    }

    #demo .basis-39{
        justify-content: flex-start;
    }

    #jumbotron{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
    }

    /* ******** STRATEGIC ****** */

    /* *********** TESTIMONIALS ********** */

    #testimonials .flex-column{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    figure.circle-img{
        height: 200px;
        width: 200px;
        flex-shrink: 0;
    }
    
    figure.circle-img > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }

    /* *********** BENEFITS ************* */

    #benefits-card{
        display: flex;
        flex-wrap: wrap;
    }

    .basis-50{
        flex-basis: 50%;
    }

    /* ******** ABOUT US ******* */

    /* ****** GET STARTED ****** */

    #get-started div{
        width: 70%;
        margin: auto;
    }

    /* ******* FOOTER ****** */

    footer div{
        width: 65%;
        margin: auto;
    }

}






/* ************************************
         DESKTOP VERSION
  *********************************** */


@media screen and (min-width: 768px) {

    .container-90{
        width: 70%;
        margin: auto;
    }

    /* ***** HEADER ******* */

    #burger-menù{
        display: none;
    }

    #navbar{
        display: flex;
    }

    /* ****** JUMBOTRON ***** */

    #demo{
        display: flex;
        justify-content: space-between;
    }

    #jumbotron{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
    }

    /* ******** STRATEGIC ****** */

    #strategic{
        padding-bottom: 3rem;
    }

    #strategic> div{
        display: flex;
        align-items: flex-end;
    }

    #development{
        width: 80%;
    }

    /* *********** TESTIMONIALS ********** */

    /* *********** BENEFITS ************* */

    #benefits-card{
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .basis-50{
        flex-basis: calc( 100% / 3 );
    }

    /* ******** ABOUT US ******* */

    #about-us .container-90{
        display: flex;
    }

    /* ****** GET STARTED ****** */

    #get-started div{
        width: 30%;
        margin: auto;
    }

    /* ******* FOOTER ****** */

    footer div{
        width: 25%;
        margin: auto;
    }

}