/* ************************************
         MOBILE VERSION
  *********************************** */


/* *********** HEADER *********** */

/* still to fix */
/* header{
    position: fixed;
    width: 100%;
    z-index: 99;
} */

nav{
    background-color: #297AFE;
}

header a{
    text-decoration: none;
    color: white;
}

.btn{
    border-radius: 20px;
    border: 0;
}

#navbar{
    display: none
}

#burger-menù i{
    font-size: 2rem;
    color: white;
}


/* *********** JUMBOTRON ******** */

/* #jumbotron{
    margin-top: 3rem;
} */


.card{
    background-color: aquamarine;
    border-radius: 20px;
    height: 100%;
    margin-top: 2rem;
}

/* #jumbotron h2{
    color: white;
    margin: 1rem 0;
} */

#jumbotron{
    margin-bottom: 4rem;
}

#demo a{
    width: 80%;
    font-size: larger;
}

#demo i{
    margin-right: 1rem;
}

#demo img{
    width: 90%;
}

.card>span{
    margin-top: 2rem;
    color: #297AFE;
    text-align: center;
    font-size: 4rem;
}

.card h2{
    color: #297AFE;
    text-align: center;
    margin-top: 1rem;
}

.card>p{
    text-align: center;
    margin: 1rem 0;;
}


/* ******** STRATEGIC ****** */

#strategic{
    background-color: #9593E6;
}

#strategic img{
    width: 100%;
}

#planning h2,
#planning p{
    margin: 2rem 0;
    color: white;
}

#development{
    background-color: white;
    text-align: center;
}

#development h2,
#development p{
    margin: 1rem 0;
}





/* ************************************
         TABLET VERSION
  *********************************** */


@media screen and (min-width: 480px) {

    /* ***** HEADER ***** */

    /* ***** JUMBOTRON ***** */

    #demo img{
        width: 60%;
        align-items: baseline;
    }

    #demo .basis-39{
        justify-content: flex-start;
    }

    #jumbotron{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* ******** STRATEGIC ****** */


}






/* ************************************
         DESKTOP VERSION
  *********************************** */


@media screen and (min-width: 768px) {

    .container-90{
        width: 60%;
        margin: auto;
    }

    /* ***** HEADER ******* */

    #burger-menù{
        display: none;
    }

    #navbar{
        display: flex;
    }

    /* ****** JUMBOTRON ***** */

    #demo{
        display: flex;
        justify-content: space-between;
    }

    #jumbotron{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* ******** STRATEGIC ****** */

}