/* ************************************
         MOBILE VERSION
  *********************************** */


/* *********** HEADER *********** */

/* header{
    position: fixed;
    width: 100%;
    z-index: 99;
} */

nav{
    background-color: #297AFE;
}

header a{
    text-decoration: none;
    color: white;
}

.btn{
    border-radius: 20px;
    border: 0;
}

#navbar{
    display: none
}

#burger-menù i{
    font-size: 2rem;
    color: white;
}


/* *********** JUMBOTRON ******** */

/* #jumbotron{
    margin-top: 3rem;
} */


#demo{
    background-color: aquamarine;
}

#jumbotron h2{
    color: white;
    margin: 1rem 0;
}

#demo{
    background-color: aqua;
}

#demo a{
    width: 80%;
    font-size: larger;
}

#demo i{
    margin-right: 1rem;
}

#demo img{
    width: 90%;
}
/* ************************************
         TABLET VERSION
  *********************************** */


@media screen and (min-width: 480px) {

    /* ***** HEADER ***** */

    /* ***** JUMBOTRON ***** */

    #demo img{
        width: 60%;
        align-items: baseline;
    }

    #demo .basis-39{
        justify-content: flex-start;
    }

    #jumbotron{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}



/* ************************************
         DESKTOP VERSION
  *********************************** */


@media screen and (min-width: 768px) {

    /* ***** HEADER ******* */

    #burger-menù{
        display: none;
    }

    #navbar{
        display: flex;
    }

    /* ****** JUMBOTRON ***** */

    #demo{
        display: flex;
        justify-content: space-between;
    }

    #jumbotron{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}